/* Section Container */
.bullet-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  width: 100%;
  height: auto;
  margin: 7% auto;
  border: 2px transparent;
  border-radius: 15px;
  box-shadow: 5px black;
  text-align: justify;
  direction: ltr;
}

.bullet-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* Text Section */
.bullet-text-section {
  margin-top: 3.5%;
  margin-bottom: 3.5%;
  text-align: justify;
  direction: ltr;
  width: 100%;
  height: auto;
}

.BulletTitle {
  margin-top: 3.5%;
  margin-bottom: 3.5%;
}

.bullet-title {
  font-family: "utopia", serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
  color: #bbf7d0;
}

.BulletText {
  margin-top: 3.5%;
  margin-bottom: 3.5%;
}

.bullet-description {
  width: 100%;
  max-height: 10.5rem;
  font-family: "lemonde-sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.5;
  position: relative;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  overflow: hidden;
  margin-bottom: 1rem;
}

.bullet-description p {
  margin-bottom: 1rem;
  line-height: 2rem;
  width: 100%;
  max-width: 80svw;
  height: auto;
  margin-bottom: 2%;
  text-align: justify;
  direction: ltr;
  word-spacing: normal;
  word-spacing: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Img Section */
.bullet-img-section {
  margin-top: 3.5%;
  margin-bottom: 3.5%;
}

.bullet-img-container {
  border-radius: 9999px;
  width: 300px;
  height: 300px;
  aspect-ratio: 1 / 1;
  margin-left: auto;
  margin-right: auto;
}

.bullet-img {
  padding: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  border-radius: 9999px;
}

/* Button Section */
.bc-button-master {
  display: flex;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
}

.bc-button-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-content: flex-end;
  text-align: center;
}

.bc-button {
  display: flex;
  font-family: "darkmode-off-cc", sans-serif;
  font-variation-settings: "wdth" 700, "wght" 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.25rem;
  width: 50%;
  background-color: #353941;
  color: #f5f5f5;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

.bc-button:hover {
  border: 3px solid #bbf7d0;
  transition: border 250ms ease-in-out;
  color: #bbf7d0;
  cursor: pointer;
  font-size: 1.45rem;
}

.icon {
  margin-right: 8px;
  width: 2rem;
}

.bc-button-text {
  font-size: 1rem;
}

/* Line Styles */
.line-bullet {
  border: 0;
  height: 4px;
  background: #2B4072;
  border-radius: 2px;
  margin: 20px 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(48, 58, 82, 0.5);
  margin-top: 7%;
  margin-bottom: 7%;
}

.line-item {
  border: 0;
  height: 4px;
  background: #2B4072;
  border-radius: 2px;
  margin: 20px 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(48, 58, 82, 0.5);
  margin-top: 7%;
  margin-bottom: 7%;
}

/* Medium screens (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .bc-button {
    width: 50%;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
  }

  .bc-button:hover {
    font-size: 1.55rem;
  }

  .bullet-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 7%;
  }

  .bullet-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .line-bullet {
    display: none;
  }

  .line-item {
    display: block;
    /* Ensure visibility */
    margin-top: 25%;
  }
}

/* Small screens (max-width: 768px) */
@media (max-width: 768px) {
  .bullet-container-grand {
    margin-top: 7%;
    margin-bottom: 7%;
  }

  .bullet-container {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
  }

  .bullet-img-container {
    width: 100%;
    height: auto;
    margin-bottom: 3.5%;
    order: -1;
  }

  .bc-button {
    width: 100%;
    height: 3.5rem;
    font-size: 1.25rem;
  }

  .bc-button:hover {
    font-size: 1.2rem;
  }

  .bc-text-section {
    margin-top: 3.5%;
    margin-bottom: 3.5%;
  }

  .line-bullet {
    display: none;
  }

  .line-item {
    display: block;
    /* Ensure visibility */
    margin-top: 25%;

  }
}