.bullet-container-grand {

  padding-top: 7%;
  padding-bottom: 7%;
}

.line-bullet {
  border: 0;
  height: 4px;
  background: #2B4072; 
  border-radius: 2px;/* Adjust the color as needed */
  margin: 20px 0; /* Adjust the spacing as needed */
  width: 100%; /* Make the line full width */
  box-shadow: 0 0 10px rgba(48, 58, 82, 0.5);
  margin-bottom: 7%;
}

.bullet-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ensures 3 equal columns */
    gap: 3rem; /* Adjust the spacing between columns */
    /* background-color: #304152; */
    width: 100%;
    height: auto;
    
    margin: 7% auto;
    border: 2px transparent;
    border-radius: 15px;
    box-shadow: 5px black;
    text-align: justify;
    direction: ltr;
    
  }
  
  .bullet-item {
    background-color: transparent; /* Match the background color to make it seamless */
    padding: 1rem;
  }
  
  .bullet-container-text {
    font-family: "tablet-gothic", sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 1.75rem;
    width: 100%;
    height: auto;
    position: relative;
    text-align: left;
    grid-column: span 3;
  }

  .bullet-title {


    font-family: "utopia", serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding-top: 7%;
    margin-bottom: 2.5rem;
  }

  .bullet-description {

    
      width: 100%;
      max-height: 10.5rem;
      font-family: "tablet-gothic", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 1.15rem;
      line-height: 1.5;
      position: relative;
      -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
      mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
      overflow: hidden; /* Ensure overflow text is hidden */
      margin-bottom: 1rem;
      
      
      
      
    
  }

  .bullet-description p {

    
    text-align: justify;
    margin-bottom: 1rem;
    
  }
  
  .about-us {
    
    text-align: left;
    font-family: "liberation-serif", serif;
    font-weight: 700;
    font-size: 2.5rem;
    grid-column: span 3; /* Make the heading span all three columns */
  }
  
  img {
    padding-top: 7%;
    padding-bottom: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
    
    
  }



  .bc-button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-content: flex-end;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    /* padding-left: 1%;
    padding-right: 1%; */
    /* margin-inline-end: auto; */
    text-align: center;
   
   
    
  }
  
  
  
  .bc-button {
    
    display: flex;
    font-family: "darkmode-off-cc", sans-serif;
    font-variation-settings: "wdth" 700, "wght" 700;
    text-transform: uppercase;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.25rem;
    margin-top: 1rem;
    width: 40%;
    background-color:  #353941;
    color: #f5f5f5;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    
  
   
    
  }
  
  .bc-button:hover {
  
    border: 3px solid #bbf7d0;
    transition: border 250ms ease-in-out;
    color: #bbf7d0;
    cursor: pointer;
    font-size: 1.45rem;
    
  }
  
  .icon {
  
    margin-right: 8px;
    width: 2rem;
  }
  
  .bc-button-text {
  
  font-size: 1rem;
  }
  

@media (min-width: 768px) and (max-width:1024px) {

  .bc-button {
    width: 33.3%;
    height: 3.5rem;
    font-size: 1.6rem;
  }

  .bc-button:hover {

    font-size: 1.55rem;
    
  }
  
}





@media (max-width: 768px) {

  .bc-button {
    width: 50%;
    height: 3.5rem;
    font-size: 1.25rem;
  }

  .bc-button:hover {

    font-size: 1.2rem;
    
  }


}


  
  