

 


  
  .PostImgContainer{
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 7%;
    margin-bottom: 7%;
    margin-top: 7%;
    width: 700px;
    aspect-ratio: 1/1 auto;
    overflow: hidden;
    border-radius: 15px;
    
  
  
  }
  
  .ImageCarousel {
  
  display: flex;
  width: 100%;
  height: inherit;
  position: relative;
  
  overflow: hidden;
  border-radius: inherit;
  }
  
  .pricing-image-container {
  
      
      width: 100%;
      height: auto;
      overflow: hidden;
       border-radius: inherit;
       
  }
  
  .PostImg, .img-slider-img {
    display: flex;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1 auto;
     object-fit: cover;
     border-radius: inherit;
     flex-shrink: 0;
     transition: transform 300ms ease-in-out;
     
     
     
 }
  
  
  

  
  .PostPost {
      
      position: relative;
      align-items: center;
      width: 100%;

  }

  .post-container {

    
      margin-left: auto;
      margin-right: auto;
      padding-top: 7%;
      padding-bottom: 7%;
      padding-left: 3.5%;
      padding-right: 3.5%;
      
  }

  .descriptionParagraph {
   
    text-align: right;
    margin-bottom: 4rem;
    
    
  }
  
  

.post-img-section {

  /* display: flex; */
  margin-top: auto;
  margin-bottom: auto;
  float: left;
 
}

.post-text-section {
  
  margin-top: 7%;
  width: auto;
  height: auto;
  
  
  
}
  
  .PostTitle {

      font-size: 3rem;
      font-weight: 600;
      line-height: 1.2;
      word-wrap: break-word;
      max-width: 100%;
      overflow-wrap: break-word;
      text-align: right;
      margin-bottom: 4%;
    
  }
  
  .PostText {
  
      font-size: 1.5rem;
      font-family: "lemonde-sans", sans-serif;
      font-weight: 300;
      font-style: normal;
      line-height: 2.5rem;
      text-align: justify;
      word-wrap: break-word;
      width: 100%;
      overflow-wrap: break-word;
      
  
  }

  .descriptionParagraph p{
    width: 100%;
    height: auto;
    margin-bottom: 2%;
    text-align: justify;
    direction: ltr;
  }



 p {
  line-height: 1.5;
  /* Adjust the line height to make text more readable */
  font-size: inherit;
  /* Make sure the font size inherits from the editor settings */
  margin-bottom: 4rem;
}


  @keyframes fadeInOut {
      0% { opacity: 0; }
      50% { opacity: 1; }
      100% { opacity: 0; }
  }

  @media (min-width: 768px) and (max-width: 1400px) {



    /* Styles for medium screens */

    .post-container {

      display: flex;
      flex-direction: column;
      
    }
   

    .img-slider-dot-btn {

      padding-bottom: 1rem;
    }

   
   

    .PostTitle {

      text-align: center;
    }

   

    .descriptionParagraph {

      text-align: justify;
      direction: ltr;
      
    }

    .descriptionParagraph p {

      margin-bottom: 1.5rem;
    }

    .PostImgContainer {

      margin-left: 0px;
      /* margin-right: auto; */
      width: 100%;
      /* padding: 10%; */
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      
    }


    


  
  }
  
  
  @media (max-width: 768px) {



    .post-container {

      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      padding: 0%;
      
    }

  

 
      .post-text-section {

        width: inherit;
       padding-top: 4rem;
        position: relative;
        display: flex;
        flex-direction: column;
      }

      .PostTitle {
        
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 0%;
       
       
        
      }
     


      .PostImgContainer {

        margin-left: auto;
        margin-right: auto;
        width: 100%;

        
      }
 
      .pricing-img-section,
      .pricing-text-section {
        flex: 1 1 100%; /* Stacks elements vertically */
        max-width: 100%; /* Takes full width on small screens */
      }
  
      .img-slider-dot-btn {
  
          padding-bottom: 2rem;
      }

      
      .post-text-section {
        margin-top: 3.5%;
        margin-bottom: 3.5%;
        
      }
    
    }
    



    
    