Header {

    z-index: 100;
  }
  
  .nav-container {
  
    /* Grandpa */
    margin-top: 0;
    margin-bottom: 3.5%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    z-index: 10;
    display: flex;
    
  }

  .offcanvas-menu {

    z-index: 20000;
  }

  .menu-close-btn:hover {

    color: #bbf7d0;
  }
  
  
  .nav-image {
    padding: 7%;
  position: relative;
  width: 15%;
  margin-left: 0;
    
   
  
  }
  
  .nav-title {
  /* Sibling 2 */
  
    color: whitesmoke;
    font-size: 33%;
  margin-right: 0;
  padding: 7%;
  }


  .MasterContainer {
    display: flex;
    width: 80svw;
    height: auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    
  }


.BLLogoContainer {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: auto;

}

.BLLogo-container {
  
  
  width: 100%;
  height: auto;
  max-width: 500px;
  margin-top: auto;
  margin-bottom: auto;

}

.BLLogo-container:hover svg path,
.BLLogo-container:hover svg g path,
.BLLogo-container:hover svg rect,
.BLLogo-container:hover svg circle {
  fill: #bbf7d0; /* Matches your desired hover color */
  transition: fill 250ms ease-in-out;




}

.HamburgerContainer {

  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  
}



.hamburger-icon {
    display: flex;
    justify-content: flex-end;
    width: 4rem;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.hamburger-icon:hover {

  color:#bbf7d0;
}

@media (min-width: 768px) and (max-width: 1024px) {
    



    .hamburger-icon {

        width: 3rem;
        height: 3rem;
    }
  }

  @media (max-width: 768px) {



  .BLLogo-container {

    width: 18rem;
    height: auto;
  }

    .hamburger-icon {

      width: 3rem;
      height: auto;
  }

   .offcanvas-menu {

      width: 100%;
    }

  
  }
  

  